<nav>
  <img src="../../assets/NavLogo.png" onmouseover="javascript:this.src='../../assets/NavLogo_onMouse.png';" onmouseout="javascript:this.src='../../assets/NavLogo.png';" />
  <ul>
    <li>
      <div class="hot-container">
        <!-- <p>
          <ng-container *ngFor="let navItem of navItems">
            <a [routerLink]='navItem.url' class="btn btn-blue"> {{navItem.name}} </a>
          </ng-container>
        </p> -->
        <p>
          <a [routerLink]="'/accueil'" class="btn btn-blue">ACCUEIL</a>
          <a [routerLink]="'/connexion'" class="btn btn-blue">CONNECTION</a>
          <a [routerLink]="'/register'" class="btn btn-blue">CREER UN COMPTE</a>
          <a [routerLink]="'/admin'" class="btn btn-blue">PROFIL</a>
        </p>
      </div>
    </li>
  </ul>
</nav>

<!-- Pour les espace "&nbsp;" -->