<nav>
  <img src="../../assets/NavLogo.png" onmouseover="javascript:this.src='../../assets/NavLogo_onMouse.png';" onmouseout="javascript:this.src='../../assets/NavLogo.png';" />
  <ul>
    <li>
      <div class="hot-container">
        <p>
          <a routerLink='/accueil' class="btn btn-blue">Accueil</a>
          <a routerLink='/connexion' class="btn btn-blue">Connection</a>
          <a routerLink='/register' class="btn btn-blue">Créez un compte</a>
          <a routerLink='/admin' class="btn btn-blue">Profil</a>
        </p>
      </div>
    </li>
  </ul>
</nav>

<!-- Pour les espace "&nbsp;" -->