<p>Bienvenu sur ton profil, {{user?.Pseudo}} !
<p>
    <button (click)="deconnecter()" class="btn btn-blue">
        DECONNECTION
    </button>
</p>

<div>
    Info de mon monstre actuel:   
            <p *ngIf="Monstre">
                {{Monstre.NomMonstre}}
            </p>
</div>

<!-- <p>
    <button class="btn btn-blue" routerLink='/'>
        INVENTAIRE
    </button>
</p> -->

<!-- <p>
    <button class="btn btn-blue" routerLink='/'>
        LANCER UN COMBAT
    </button>
</p> -->

<p *ngIf='Monstre'>
    <button class="btn btn-blue" routerLink='/choix'>
        CREER UN MONSTRE
    </button>
</p>

